name: Build & Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        arch: [amd64, arm64]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Build
        run: |
          mkdir -p dist
          GOARCH=${{ matrix.arch }} GOOS=linux CGO_ENABLED=0 \
          go build -ldflags="-s -w" -o hesartunnel .

          tar -czf dist/hesartunnel_1.2.0_linux_${{ matrix.arch }}.tar.gz hesartunnel

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*.tar.gz
